 <div class="post">
      <h2 class="newpst">
        <%= post['newpost'] %>
      </h2>

      <small class="meta">
        <span class="name">by <%= post['name'] %> -</span>
        <em class="created_at"><%= post['created_at'] %></em>
      </small>

      <p class="body"><%= post['body'] %></p>
    </div>
